<h2>Three Years On</h2>

<p>Dementia Friendly Communities have evolved since the last three years, improving the quality of life for people living with dementia and their carers.  Businesses and organisations are understanding and responding to the needs of people with dementia.  It’s now easier to engage in community life, to continue to pursue interests and social activities, and increase wellbeing.</p>

<p>Usually only found in Care Homes, the Tovertafel or Magic Table is a series of interactive light animations, which are projected onto a table.  It’s a social activity that motivates people to instinctively participate, a fun innovation that connects people in the mid to late stage of their dementia journey with each other, and with their surroundings.  A magic table creating moments of happiness.</p>

<p>The Magic Table, has been funded by Ringwood &amp; Bransgore Dementia Action Group together with, Care UK Ferndown Manor and Tilney Financial Planning Ltd. for Ringwood and its surrounding communities.  The Ringwood Town Mayor, Tim Ward, unveiled the Tovertafel in a ceremony, donating it to the Trinity Centre in Ringwood.  The Magic Table can now be booked by families or organisations, for hire by the hour.</p>
