<template>
    <Layout class="post">

            <div class="row">
                <breadcrumbs :title="$page.post.title" />
            </div>

            <div class="row" v-if="$page.post.content">
                <div class="content" v-html="$page.post.content" />
            </div>

            <div class="row" v-if="$page.post.image">
                <div class="post-image has-text-centered">
                    <g-image :src="$page.post.image" />
                </div>
            </div>

            <div class="row has-text-centered">
                <hr />
                <g-link class="button is-light is-large" to="/" active-class="is-active">
                    Home
                </g-link>
            </div>

    </Layout>
</template>

<page-query>
query ($id: ID!) {
  post(id: $id) {
    title
    description
    content
    image
  }
}
</page-query>

<script>
import Breadcrumbs from '~/components/breadcrumbs';

export default {
    
    metaInfo() {
        return {
            title: this.$page.post.title
        }
    },

    components: {
        Breadcrumbs
    }
}
</script>

<style lang="scss">
.post {
  .post-image {
      img {
            max-height: 110vh;
            width: auto;
      }
  }
}
</style>