<h2>Working to Become Dementia Friendly</h2>

<p>The local Dementia Friendly Action Group is busy, as the community embraces the concept of Dementia Friendly Communities.</p>

<p>Our Music and Memory Project is underway, thanks to funding from the Ringwood & Fordingbridge Lions Club, and the team of Ringwood school pupils who gained third place in the ‘Lions Den’ competition.</p>

<p>Four Care Homes, Bickerley Green, St Elmo, Foxes Moon at St Ives and Woodside Lodge in Bransgore have been selected as a pilot project to bring personal playlists to people with dementia. Listen to a song, a tune, and memories will also form, of time, or place. Music has shown to be effective in reducing anxiety and agitation, improving ability to understand and think, and can help a sense of identity and independence – even in people with advanced dementia.</p>

<p>We have presented an information pack, memory sticks of tunes, and the inspirational documentary, Alive Inside, with a Music Kit that includes MP3 player and headphones that will benefit two residents and their families in each Care Home. Scotland has pioneered the Playlist for Life and has an impressive website <a href="http://www.playlistforlife.org.uk" target="_blank">www.playlistforlife.org.uk</a> which is accessible to all. We hope to see the project becoming mainstream for many more people.</p>

<p>A heartening 800 local people have become Dementia Friends, raising awareness that helps people with dementia to feel safe and confident in the community. We have established a growing list of social groups in the area for people with dementia and their carers to continue, to pursue interests old and new. Health, hobbies and relaxation are key to a good life, and we are keen to hear from groups who may invite further ideas to expand the list which can be found on our website <a href="http://www.ringwooddementia.org.uk">http://www.ringwooddementia.org.uk</a>.</p>

<p>We would like to say thank-you to all those who are providing us with the funding and encouragement to create ideas and opportunities that only a strong sense of local community can offer.</p>

<p style="text-align: right; color: #888">For more details contact Krista 01425 483117 : Sue 07775 908330</p>