.row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.is-fullheight {
    height: 100%;
}


.has-hover-grow {
    transition: 0.2s;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.99   );
    }
}