
.card {
    border: 1px solid $grey-lighter;
}

.navbar-item img {
    width: auto;
}

.navbar-brand .navbar-item {
    padding: 0;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
