<h2>Local & Social Groups - Each Month</h2>
<br>
<table class="table v-center">
	<tr>
		<td>
			<h3>Morning Coffee Social</h3>
			The Meeting House,<br>
			Ringwood,<br>
			BH24 1EY<br>
		</td>
		<td>
			2nd & 4th Wed.<br> 11am - 12:30pm
		</td>
		<td>
			<b>Dementia Friendly</b><br> Sue: 07775 908330<br>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Music Unlocking Memories</h3>
			Trinity Centre,<br> Christchurch Road,<br> BH24 1DY<br>
		</td>
		<td>
			1st Thurs.<br> 11:30am - 12:30pm<br> 3rd Tues.<br> 11am - 12pm
		</td>
		<td>
			<b>Age Concern</b><br> Mercy : 01425 479415
		</td>
	</tr>
	<tr>
		<td>
			<h3>Bransgore Carers Cafe</h3>
			Shackleton Square,<br> Christchurch Road,<br> BH23 8AJ<br>
		</td>
		<td>
			2nd & 4th Mon.<br> 2pm - 4pm<br>
		</td>
		<td>
			<b>Bransgore Community Church</b><br> Kathy Harris : Caroline Davis<br> 01425 674513
		</td>
	</tr>
	<tr>
		<td>
			<h3>Art Group</h3>
			Trinity Centre,<br> Christchurch Road,<br> BH24 1DY<br>
		</td>
		<td>
			2nd & 4th Thurs.<br> 10am - 12pm
		</td>
		<td>
			<b>Art Dementia New Forest</b><br> Please book<br> Gilda : 01425 473777
		</td>
	</tr>
	<tr>
		<td>
			<h3>Men's Walking Group</h3>
		</td>
		<td>
			1st, 3rd & 5th Tues. <br>Afternoons 2pm
		</td>
		<td>
			<b>Avon Valley Dementia Pals</b><br> Edward : 01425 473777
		</td>
	</tr>
	<tr>
		<td>
			<h3>Morning Coffee</h3>
			The Crown Inn,<br> Bransgore,
			<br> BH23 8AA
		</td>
		<td>
			1st Mon.<br> 11am - 12:30pm
		</td>
		<td>
			<b>Dementia Friendly</b><br> Sue : 07775 908330<br>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Sailability</h3>
			Spinnaker Lake,<br> Ivy Lane,<br> BH24 3LY
		</td>
		<td>
			Tues &amp; Fri<br> 10am - 3pm
		</td>
		<td>
			<b>Spinnaker Sailing Club</b><br> 07722 404498<br>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Ringwood Health and Leisure</h3>
			Parsonage Barn Lane,<br> Ringwood,
			<br> BH24 1PX
		</td>
		<td>
			Saturday<br> 12:15pm - 1:15pm
		</td>
		<td>
			<b>For a Good Swim at a Quiet time</b><br> 02380 285531<br>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Avon Heath Country Park</h3>
			St. Leonards,<br> Ringwood,
			<br> BH24 2DH
		</td>
		<td>
			Everyday<br> 11am - 4pm
		</td>
		<td>
			<b>Enjoy a Peaceful Country Walk</b><br> 01425 478082<br>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Kurling Club</h3>
			Greyfriars Community Centre,<br> Christchurch Road,<br> BH24 1DW
		</td>
		<td>
			Wednesday<br> 1:30pm - 3pm
		</td>
		<td>
			<b>BrendonCare</b><br> Kathryn : 07443 485690<br>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Cage Cricket & Table Tennis</h3>
			Bransgore Recreation, Ground<br> Burley Road, Bransgore<br> 
		</td>
		<td>
			1st & 3rd Wednesday<br> 2pm - 3pm
		</td>
		<td>
			<b>Dementia Friendly</b><br> Sue : 07775 908330<br>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Walking Football</h3>
			Bransgore Recreation, Ground<br> Burley Road, Bransgore<br> 
		</td>
		<td>
			Every Monday<br> 10:30am - 11:30am
		</td>
		<td>
			<b>David Pickstone</b><br>
			01425 673050
		</td>
	</tr>
	<tr>
		<td>
			<h3>Blashford Lakes Nature Reserve</h3>
			Ellingham Road<br> nr. Ringwood<br> 
		</td>
		<td>
			Every Friday<br> 11am - 2:30pm
		</td>
		<td>
			Booking : Tracy 01425 472760<br> £4 donation<br> <a href="mailto:BlashfordLakes@hiwwt.org.uk">BlashfordLakes@hiwwt.org.uk</a>
		</td>
	</tr>
</table>