<h2>Ringwood and Bransgore to become Dementia Friendly Communities</h2>

<p>Creating Dementia Friendly Communities is important. Over the next 20 years the number of people living with dementia, especially those with mild to moderate dementia, is expected to increase dramatically.</p>

<p>By becoming Dementia Friends, Councillors of Ringwood and Bransgore, Police, local people and community groups have taken the first steps towards making both communities Dementia Friendly. So far, over a hundred people have attended a 45 minute session that gives them an awareness and understanding of those who live with dementia. It is hugely reassuring for people with dementia, to feel able to go out and about and continue to do the everyday things most people take for granted, knowing that their needs within the community will be understood and supported.</p>

<p>Dementia Friendly High Streets are being set up by Dementia Action Groups throughout the country. Businesses, services, and organisations are involved, and able to respond to customers by creating an environment that offers the best possible opportunity for people to live well with dementia. <strong>This will also benefit the disabled, those with mental health concerns, as well as older people living within the community.</strong></p>

<p>Ringwood and Bransgore Dementia Action Group invites you to become a Dementia Friend, so that people living with dementia can feel confident and able to continue their lives, their interests and activities, because they live in a Dementia Friendly Community.</p>

<p>To become a Dementia Friend, or if you wish to join the Action Group please contact <br><strong>Sue Scott</strong> - Tel <code>01202 986179</code>, Email <code>sue@walking-on-sunshine.com</code> or <br><strong>Krista Allardyce</strong> - Tel <code>01425 483117</code>, Email <code>kristaallardyce@hotmail.com</code></p>

<p>Free information sessions will be held regularly at the Lesley Errington Hall, Stillwater Park, North Poulner Road. Ringwood. BH24 3JZ</p>