<template>
    <Layout>
        <div class="row">
            <contact />
        </div>
    </Layout>
</template>

<script>
import Contact from '~/components/contact';

export default {

    metaInfo: {
        title: 'Contact',
    },

    components: { 
        Contact
    }

};
</script>