<template>
    <Layout>

        <div class="row">
            <div class="content" v-html="$page.home.content" />
        </div>

        <div class="row">
            <div class="columns is-multiline">
                <div class="column is-4" v-for="(post, i) in posts" :key="i">
                    <post-card :post="post.node" />
                </div>
                <div class="column is-4" v-if="!showArchived" @click="showArchived = true">
                    <post-card :post="$page.archive" />
                </div>
            </div>
        </div>

        <hr>

        <div class="row">

            <contact />

        </div>

    </Layout>
</template>

<page-query>
query {
  home: view(id: "home") {
    content
  }
  archive: view(id: "archive") {
    title
    description
    thumb
  }
  posts: allPost (sortBy: "order", order: DESC) {
    edges {
      node {
        path
        title
        thumb
        description
        archived
      }
    }
  }
}
</page-query>

<script>
import PostCard from '~/components/post-card';
import Contact from '~/components/contact';

export default {

    metaInfo: {
        title: 'Home',
    },

    components: { 
        PostCard,
        Contact
    },

    data() {
        return {
            showArchived: false
        }
    },
    
    computed: {
        posts() {
            if (this.showArchived) return this.$page.posts.edges;
            return this.$page.posts.edges.filter(post => !post.node.archived);
        }
    }
};
</script>

<style>
.home-links a {
    margin-right: 1rem;
}
</style>
