<template>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><g-link class="breadcrumb" to="/">Home</g-link></li>
            <li class="is-active"><a>{{title}}</a></li>
        </ul>
    </nav>
</template>

<script>
export default {

    props: ['title']

}
</script>