<template>
    <div class="columns">

        <div class="column">
            <contact-details />
        </div>

        <div class="column">
            <contact-form />                    
        </div>

    </div>
</template>

<script>
import ContactDetails from '~/components/contact-details';
import ContactForm from '~/components/contact-form';

export default {
    components: { 
        ContactDetails,
        ContactForm
    }
}
</script>
