<template>
    <div class="contact-form">

        <form @submit.prevent="submit" v-if="!error && !success">

            <div class="content">
                <h2>Message Us</h2>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Joe Bloggs" v-model="name">
                </div>
            </div>

            <div class="field">
                <label class="label">Contact</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Email or Phone Number" v-model="contact">
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" type="text" placeholder="Hello, how are you?" v-model="message"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" :class="{ 'is-loading': loading }">Send</button>
                </div>
            </div>

        </form>

        <div class="notification is-danger" v-if="error">
            Something went wrong. Please use the contact details to get in touch with us.
        </div>

        <div class="notification is-success" v-if="success">
            Message sent!
        </div>

    </div>
</template>

<script>
import axios from 'axios';

export default {

    data() {
        return {
            name: '',
            contact: '',
            message: '',
            error: false,
            success: false,
            loading: false
        }
    },

    methods: {
        submit() {

            const data = {
                _id: 's3unhi7h8w',
                name: this.name,
                contact: this.contact,
                message: this.message
            }

            this.loading = true;

            axios.post('https://form.allardyce.me', data)
                .then(response => {
                    this.success = true;
                })
                .catch(error => {
                    this.error = true;
                });
        }
    }

}

</script>