<template>
    <div class="contact-details">
        <div class="content" v-html="$static.view.content"></div>
    </div>
</template>

<static-query>
query {
  view(id: "contact-details") {
    content
  }
}
</static-query>