<template>
    <g-link :to="post.path">

        <div class="card is-fullheight has-hover-grow">

            <div class="card-image">
                <figure class="image is-4by3">
                    <g-image :src="post.thumb" />
                </figure>
            </div>

            <div class="card-content has-text-centered">
                <div class="content">
                    <h3>{{post.title}}</h3>
                    <p>{{post.description}}</p>
                </div>
            </div>
        </div>

    </g-link>
</template>

<script>
export default {
    props: ['post']
}
</script>