<template>
    <div class="site-footer">
        <footer class="footer">
            <div class="container">
                <div class="content has-text-right">
                    <p>Ringwood and Bransgore Dementia Action Group 2019</p>
                    <p>Site design by <a href="mailto:craig@allardyce.me">allardyce</a></p>
                </div>
            </div>
        </footer>
    </div>
</template>