<template>
    <div class="site-header">
        <nav class="navbar is-spaced">
            <div class="container">
                <div class="navbar-brand">
                    <g-link class="navbar-item has-hover-grow" to="/">
                        <g-image src="~/images/logo-v2.png" />
                    </g-link>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-menu">

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <g-link class="button is-primary" to="/" active-class="is-active">
                                    Home
                                </g-link>
                                <g-link class="button is-light" to="/contact" active-class="is-active">
                                    Contact
                                </g-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero is-medium is-light is-bold is-clipped is-relative">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1 has-text-light">
                        Dementia Action Group
                    </h1>
                    <h2 class="subtitle is-3 has-text-light">
                        Ringwood and Bransgore
                    </h2>
                </div>
            </div>
            <g-image class="hero-background" src="~/images/banner.jpg" />
        </section>

    </div>
</template>

<style lang="scss">
.hero {
    .hero-background {
        object-fit: cover;
        position: absolute;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
    .hero-body {
        z-index: 1;
    }
}
</style>