<template>
  <div class="layout-default">
    <site-header />
    <div class="container">
      <slot/>
    </div>
    <site-footer />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import SiteHeader from '~/components/site-header';
import SiteFooter from '~/components/site-footer';

export default {
    components: { SiteHeader, SiteFooter }
}

</script>