<h2>Magic Table at Trinity Centre</h2>

<p>Residents of Bickerley Green Care Home, enjoy visiting the Magic Table at the Trinity Centre in Ringwood.  Activity co-ordinator Tracey Cotterill takes between 2-6 residents along with carers or relatives for support.  Colourful, sound effects and interactive light animations projected onto the table, motivate people to participate instinctively, they can touch flowers, pop bubbles, catch fish and have fun!</p>

<p>Tracey quotes: “Even residents who are initially shy or hesitant are fascinated by the moving images on the table.  There are many positive reactions with lots of laughter and oohs and aahs and they physically engage with the activity.  We particularly enjoy the leaves and ladybirds, and the paint balls that build up a painting.  The fee of £6.65 for the room hire per hour is excellent value enabling me to visit regularly with different residents who have varied need and abilities.”</p>

<p>The Tovertafel also provides social and energetic activity play with interactive light games, for people with learning disabilities.</p>

<p>To make a booking contact : Tel. 01425 461440  :  <a href="mailto:contact@trinityringwood.co.uk">contact@trinityringwood.co.uk</a></p>

<img src="../img/magic-table.jpg" />